body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.result-page .wrapper {
  display: grid;
  grid-template-columns: 20% auto;
  grid-column-gap: 1em;
}

.result-page .filter {
  background-color: gray;
}

.result-page .results { 
  background-color: gainsboro;
}