.navbar {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "logo nav";
    background-color: $dark-primary-color;

    @media (max-width: 600px) {
        grid-template-areas: "logo logo";
        background-color: red;
    }
}

.navbar .logo {
    grid-area: logo;
    justify-self: start;
    align-self: center;
    margin: 0.5em 0em 0.5em 1.5em;
}

.navbar .nav {
    grid-area: nav;
    justify-self: end;
    align-self: center;
    margin: 0em 0em;
    padding: 1em;
}

.navbar .nav a {
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 700;
    margin: 0em 1em;
    text-decoration: none;
}

.navbar .nav a:link {
    color: $text-icons;
}

.navbar .nav a:visited {
    color: $text-icons;
}

.navbar .nav a:hover {
    color: $primary-color;
}

.navbar .nav a:active {
    color: $primary-color;
}