.solution-details {
    margin: 0rem 2rem;
    display: grid;	
    grid-template-columns: 50% 50%;
    grid-template-areas: "odd even";
}

.solution-details .odd {
    grid-area: odd;
    background-color: paleturquoise;
}

.solution-details .even {
    grid-area: even;
    background-color: lightcoral;
}