body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.result-page .wrapper {
  display: grid;
  grid-template-columns: 20% auto;
  grid-column-gap: 1em; }

.result-page .filter {
  background-color: gray; }

.result-page .results {
  background-color: gainsboro; }

#result-card {
  display: grid;
  grid-template-columns: 2% 17% 2% 77% 2%;
  margin: 0.5em 0em 1em;
  grid-template-rows: auto;
  grid-template-areas: " . img . details . "; }

#result-card .img {
  grid-area: img;
  background-color: orange; }

#result-card .img img {
  max-width: 100%; }

#result-card .details {
  display: grid;
  grid-area: details;
  background-color: blue;
  color: white; }

#result-card .title {
  font-size: 1.5em; }

#result-card .summary {
  font-size: 0.9em; }

.navbar .wrapper {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas: "logo nav";
  background-color: #00796B; }
  @media (max-width: 600px) {
    .navbar .wrapper {
      grid-template-areas: "logo logo";
      background-color: red; } }

.navbar .logo {
  grid-area: logo;
  justify-self: start;
  align-self: center;
  margin: 0.5em 0em 0.5em 1.5em; }

.navbar .nav {
  grid-area: nav;
  justify-self: end;
  align-self: center;
  margin: 0em 0em;
  padding: 1em; }

.navbar .nav a {
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 700;
  margin: 0em 1em;
  text-decoration: none; }

.navbar .nav a:link {
  color: #FFFFFF; }

.navbar .nav a:visited {
  color: #FFFFFF; }

.navbar .nav a:hover {
  color: #009688; }

.navbar .nav a:active {
  color: #009688; }
