body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.wrapper {
  display: grid;
  grid-template-columns: 20% auto;
  grid-column-gap: 1em; }

.filter {
  background-color: gray; }

.results {
  background-color: gainsboro; }

#result-card {
  display: grid;
  grid-template-columns: 2% 17% 2% 77% 2%;
  margin: 0.5em 0em 1em;
  grid-template-rows: auto;
  grid-template-areas: " . img . details . "; }

#result-card .img {
  grid-area: img;
  background-color: orange; }

#result-card .img img {
  max-width: 100%; }

#result-card .details {
  display: grid;
  grid-area: details;
  background-color: blue;
  color: white; }

#result-card .title {
  font-size: 1.5em; }

#result-card .summary {
  font-size: 0.9em; }
