body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

#result-card {
  display: grid;
  grid-template-columns: 2% 17% 2% 77% 2%;
  margin: 0.5em 0em 1em;
  grid-template-rows: auto;
  grid-template-areas: " . img . details . "; }

#result-card .img {
  grid-area: img;
  background-color: orange; }

#result-card .img img {
  max-width: 100%; }

#result-card .details {
  display: grid;
  grid-area: details;
  background-color: blue;
  color: white; }

#result-card .title {
  font-size: 1.5em; }

#result-card .summary {
  font-size: 0.9em; }

.navbar {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas: "logo nav";
  background-color: #00796B; }
  @media (max-width: 600px) {
    .navbar {
      grid-template-areas: "logo logo";
      background-color: red; } }

.navbar .logo {
  grid-area: logo;
  justify-self: start;
  align-self: center;
  margin: 0.5em 0em 0.5em 1.5em; }

.navbar .nav {
  grid-area: nav;
  justify-self: end;
  align-self: center;
  margin: 0em 0em;
  padding: 1em; }

.navbar .nav a {
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 700;
  margin: 0em 1em;
  text-decoration: none; }

.navbar .nav a:link {
  color: #FFFFFF; }

.navbar .nav a:visited {
  color: #FFFFFF; }

.navbar .nav a:hover {
  color: #009688; }

.navbar .nav a:active {
  color: #009688; }

footer {
  padding: 2em 0em 3em;
  background-color: #009688; }

.footer {
  display: grid;
  border: none; }

.footer .copyright {
  justify-self: center; }

.footer p {
  color: #B2DFDB; }

.footer .links {
  justify-self: center; }

.footer .links a {
  text-transform: lowercase;
  font-size: 0.9em;
  margin: 0em 1em;
  text-decoration: none; }

.footer .links a:link,
.footer .links a:visited {
  color: #B2DFDB; }

.footer .links a:hover,
.footer .links a:active {
  color: #FFFFFF;
  border-bottom: 3px #FFFFFF dotted; }

.result-page .wrapper {
  margin: 3rem 0rem;
  display: grid;
  grid-template-columns: 20% auto;
  grid-column-gap: 1em; }

.result-page .filter {
  background-color: gray; }

.result-page .results {
  background-color: gainsboro; }

.solution-summary {
  margin: 0rem 2rem;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-areas: "title title"  "images summary"; }

.solution-summary .title {
  margin: 0rem 0rem 0rem;
  grid-area: title;
  background-color: #FFFFFF; }

.solution-summary .images {
  margin: 0rem 0rem 0rem;
  grid-area: images;
  background-color: #FFFFFF; }

.solution-summary img {
  width: 100%;
  height: auto; }

.solution-summary .summary {
  align-self: stretch;
  justify-self: center;
  grid-area: summary;
  background-color: #FFFFFF; }

.solution-summary .chart {
  grid-area: chart;
  background-color: #FFFFFF; }

table {
  border-collapse: collapse; }

table, tr, td {
  border: 0.5px solid #B2DFDB; }

th {
  text-align: center;
  padding: 0.8rem;
  font-size: 1.2rem; }

tr td.item {
  font-weight: 700; }

tr, td {
  padding: 0.5rem;
  text-align: left; }

tr:nth-child(even) {
  background-color: #B2DFDB; }

.solution-details {
  margin: 0rem 2rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "odd even"; }

.solution-details .odd {
  grid-area: odd;
  background-color: paleturquoise; }

.solution-details .even {
  grid-area: even;
  background-color: lightcoral; }

.solution-page .content {
  margin: 2rem 8rem 2rem; }

.solution-page .container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-areas: "info radar-chart"; }

.solution-page .evaluation-info {
  margin: 3rem 0rem 0rem;
  grid-area: info; }

.solution-page .evaluation-radar-chart {
  grid-area: radar-chart; }

.tabs {
  margin: 0rem 2rem 3.5rem; }

.tab-list {
  padding: 0;
  display: table;
  border-bottom: 1px solid #BDBDBD;
  font-size: 1.2em;
  font-weight: 700;
  width: 100%; }

.tab-list-item {
  padding: 0;
  display: table-cell;
  text-align: center;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 2rem; }

.tab-list-active {
  color: #009688;
  border: solid #009688;
  border-width: 0px 0px 5px 0px; }
