@import 'uncomp/colors';
@import 'uncomp/App.scss';
@import 'uncomp/ResultCard.scss';
@import 'uncomp/Navbar.scss';
@import 'uncomp/Footer.scss';
@import 'uncomp/ResultPage.scss';
@import 'uncomp/SolutionSummary.scss';
@import 'uncomp/SolutionPage.scss';
@import 'uncomp/SolutionTab.scss';
@import 'uncomp/LoginRegistrationForm.scss';
